/* Start Career Side */
.profile {
  display: flex;
  justify-content: inline;
  margin: 0;
  padding: 0;
}

.avatar {
  padding-top: 10px;
  padding-left: 35px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-top: 13px;
  padding-left: 30px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: white;
  padding: 29px 50px;
  font-weight: bold;
  font-size: 30px;
}

.box {
  background-color: #1189B3;
  width: 300px;
  height: 1000px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
/* Finish Career Side */