/* Start Settings */
.settings {
  display: flex;
  
}

.setting-img {
  height: 30px;
  width: 30px;
}

/* Start Notification */
.notifications-box {
  background-color: #1189B3;
  width: 500px;
  height: 500px;
}