.settings {
  position: absolute;
  top: 5px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

p {
  font-size: 40px;
}

/* Start Notification */
.notifications-box {
  background-color: #1189B3;
  width: 900px;
  height: 600px;
  position: absolute;
  bottom: 10%;
  left: 30%;
  display: flex;
  gap: 10px;
}

h1 {
  color: white;
  padding-right: 20px;
}