img {
  height: 130px;
  width: 150px;
}

.main {
  display: flex;
  justify-content: center;
}

.title {
  color: black;
}

.info {
  display: flex;
  align-content: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding-right: 60px;
  width: 400px;
  height: 40px;
}